<!DOCTYPE html>
<html>
    <head>
        <title>ssp-ca3</title>
        <link rel='stylesheet' href='/styles/styles.css' />
        <script src="/javascripts/filevalidation.js"></script>
    </head>
    <body>
        <div>
            <input id="file" type="file" onchange="return fileValidation()" />
        </div>  
    </body>
</html>